{{ template "header" . }}
<div class="main-content clearfix onelist-page">

    <div class="post-lists">
        <div class="post-lists-body">

            <div class="post-onelist-item">
                <div class="post-onelist-item-container">

                    <div class="onelist-item-info">
                        <div class="item-title">
                            <h1 style="line-height: 200px;font-size: 88px;">404</h1>
                            <a class="post-item-title" href="/">
                                go back ...
                            </a>
                        </div>

                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
{{ template "foot" }}